<h1>Форма обратной связи</h1>
<form [formGroup]="feedBackForm" class="feedback-form" (submit)="onSubmit()">
  <mat-form-field>
    <mat-label>ФИО</mat-label>
    <input class="form-input" matInput formControlName="fio" required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Почта</mat-label>
    <input class="form-input" matInput formControlName="email" required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Телефон</mat-label>
    <input
      class="form-input"
      prefix="+7"
      mask="(000) 000 00 00"
      matInput
      formControlName="phoneNumber"
      required
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Комментарий</mat-label>
    <textarea
      rows="5"
      class="form-input comment"
      matInput
      formControlName="comment"
    ></textarea>
  </mat-form-field>
  <mat-checkbox class="form-input" formControlName="consent"
    >Согласие на обработку персональных данных</mat-checkbox
  >
  <button mat-raised-button color="primary" type="submit" class="submit-button">
    Отправить
  </button>
</form>
