<h1>Форма обратной связи</h1>
<form
  *ngIf="showForm"
  [formGroup]="feedBackForm"
  class="feedback-form"
  (submit)="onSubmit()"
>
  <mat-form-field>
    <mat-label>ФИО</mat-label>
    <input class="form-input" matInput formControlName="fio" />
    <mat-error> ФИО <strong>обязательное поле!</strong> </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Номер бейджа</mat-label>
    <input class="form-input" matInput formControlName="badgeNumber" />
    <mat-error *ngIf="isNumberError">
      Номер Бейджа <strong>может содержать только цифры!</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Почта</mat-label>
    <input class="form-input" matInput formControlName="email" />
    <mat-error> Почта <strong>обязательное поле!</strong> </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Телефон</mat-label>
    <input
      class="form-input"
      prefix="+7"
      mask="(000) 000 00 00"
      matInput
      formControlName="phoneNumber"
    />
    <mat-error> Телефон <strong>обязательное поле!</strong> </mat-error>
  </mat-form-field>
  <app-dropdowm
    [options]="departments"
    formControlName="department"
  ></app-dropdowm>
  <mat-form-field>
    <mat-label>Комментарий</mat-label>
    <textarea
      rows="5"
      class="form-input comment"
      matInput
      formControlName="comment"
    ></textarea>
  </mat-form-field>
  <mat-checkbox
    class="form-input"
    formControlName="consent"
    [disabled]="!isValidFields"
    >Согласие на обработку персональных данных</mat-checkbox
  >

  <button mat-raised-button color="primary" type="submit" class="submit-button">
    Отправить
  </button>
</form>
